# Created by https://www.toptal.com/developers/gitignore/api/vue,nuxtjs
# Edit at https://www.toptal.com/developers/gitignore?templates=vue,nuxtjs

### Nuxtjs ###
# Nuxt build
.nuxt

# Nuxt generate
dist

### Vue ###
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?
test/

# End of https://www.toptal.com/developers/gitignore/api/vue,nuxtjs